<div class="row">
    <h1 class="text-center">
        <a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>
        Chat
    </h1>
</div>
<div class="row">
</div>

<style>
  form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
  form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
  form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }

  #usersConnected { list-style-type: none; margin: 0; padding: 0; }
  #usersConnected li { height: 10px; width: 10px; background-color: green; border-radius: 50%;  }
</style>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>

  $(function () {
    var input = $('#m');
    var username = "<%= user.fullname%>";
    var connected = false;
    var typing = false;
    var lastTypingTime;
    //var socket = io();
    var socket = io.connect("http://localhost:4000");
    socket.emit('new user', username);

    window.onbeforeunload = function() {
      console.log("Hola");
      socket.emit('user logout', username);
    }

    $('form').submit(function(){
      console.log("Entra en submit");
      socket.emit('chat_message', input.val(), username);
      input.val('');
      return false;
    });

    input.on('input', function() {
      if (typing == false) {
        typing = true;
        socket.emit('typing', username);
      }
      lastTypingTime = (new Date()).getTime();
      setTimeout(function () {
        var typingTimer = (new Date()).getTime();
        var timeDiff = typingTimer - lastTypingTime;
        if (timeDiff >= 400 && typing) {
          socket.emit('stop typing');
          typing = false;
        }
      }, 400);
    });
    

    //Socket.on
    socket.on('new user', function(user){
      console.log("New user:" + user);
      $('#usersConnected').append($('<li>').addClass("online"+user).html(user));
    });

    socket.on('chat_message', function(msg, user){
      console.log("Entra en socket on");
    	//var user = session.user.fullname;
      $('#messages').append($('<li>').html("<b>"+user + ": </b>" + msg));
    });

    socket.on('typing', function (user) {
      $('#messages').append($('<li>').addClass("typing").html(user + " is typing"));
    });

    socket.on('stop typing', function (data) {
      console.log("Entra en stop")
      $('.typing:last').remove();
    });

    socket.on('user logout', function(user){
      console.log("Logout user:" + user);
      $('.online'+user+':last').remove();

    });

  });
</script>

<div>
  <div class="row">
    <div class= "col-md-10" id="chat">
      <ul id="messages"></ul>
      <form action="" id="chatForm" >
        <input name="msg" id="m" autocomplete="off" />
        <input name="user" type="hidden" value="<%= user %>" />
        <button>Send</button>
      </form>
    </div>
    <div class= "col-md-2">
      <ul id="usersConnected"></ul>
    </div>
  </div>
</div>