<div class="row">
  <h1 class="text-center">
    Login
  </h1>
</div>

<form method='POST' action='/session'>

  <div>
    <label for="login">Login:</label>
    <br />
    <input type="text" id="login" name="login" size="30" autocomplete="off" />
  </div>

  <div>
    <label for="password">Password:</label>
    <br />
    <input type="password" id="password" name="password" size="30" autocomplete="off" />
  </div>

  <button type="submit" class="oi oi-thumb-up py-1 my-2 text-primary" ></button>

</form>
