<div class="row">
    <h1 class="text-center">
        Objetivos:

        <% if (locals.readwrite) { %>
        <a href="/visits/<%= visit.id %>/targets/new"><span class="oi oi-plus h3"></span></a>
        <% } %>

    </h1>
</div>

<%- include _index.ejs %>


