

<div class="form-row">
    <div class="form-group col">
        <label for="c_body">Comentario:</label>
        <textarea type="text"
                  class="form-control"
                  id="c_body"
                  name="body"
                  placeholder="Introduzca aquí su comentario"
                  rows="5"><%= comment.body %></textarea>
    </div>
</div>
