
<script src="/javascripts/misc_form.js"></script>

<form id="myForm" method='post' action='/posts/<%= post.id %>/comments'>

    <div class="row">
        <h1 class="text-center">
            Nuevo Comentario:

            <a href="#" onclick="submitForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

            <a href="/reload"><span class="oi oi-circle-x h3"></a>

        </h1>
    </div>


    <%- include _form.ejs %>


    <a href="#" onclick="submitForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

    <a href="/reload"><span class="oi oi-circle-x h3"></a>

</form>

