body {
    padding: 0px 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #e5f5ff;

}

header {
    text-align: center;
    font-family: "PT Serif Bold", Georgia, serif, times;
    font-size: 18px;
}

header h1 {
    margin: 0px;
}

h1 {
    margin: 10px 0px;
}

h2 {
    margin: 5px 25px;
}

h3 {
    margin: 5px 25px;
    font-style: italic;
}

p {
    margin: 5px 0px;
}

small {
    font-size: x-small;
}

big {
    font-size: larger;
}

a {
    color: blue;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.icon {
    width: 20px;
    vertical-align: text-bottom;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

:focus {
    background-color: yellow;
    color: blue;
}

input[type=checkbox] + .star {
    content: url(/icons/star_grey.png);
    height: 16px;
    width: 16px;
}

input[type=checkbox]:checked + .star {
    content: url(/icons/star_yellow.png);
    height: 16px;
    width: 16px;
}

.targetindex ul {
    margin: 0px 5px;
    clear: both;
}

.notes {
    font-style: italic;
    font-size: smaller;

    margin: 2px 5px;
}


input[type=text], input[type=password] {
    background-color: white;
    height: 15px;
    transition: ease-in-out, background-color .4s ease-in-out, height .4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: yellow;
    height: 24px;
}


.login {
}

article.post {
    border: 2px solid #1648ff;
    padding: 5px;
    margin: 6px;
    background-color: #f5f5ff;
    border-radius: 5px;
    clear: both;
}

header.post {
    text-align: left;
    font-family: "PT Serif Bold", Georgia, serif, times;
    font-size: 18px;
}

h3.post {
    margin: 0px;
    font-style: italic;
}



article.comment {
    border: 2px solid #5adfff;
    padding: 5px;
    margin: 4px 4px 4px 20px;
    background-color: #f5f5ff;
    clear: both;

}

header.comment {
    text-align: left;
    font-family: "PT Serif Bold", Georgia, serif, times;
    font-size: 18px;
}


