<div class="row">
    <h1 class="text-center">
        <a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>

        Usuario

        <% if (session.user) { %>

        <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit"><span class="oi oi-pencil h3"></span></a>
        <% } %>

        <% } %>

    </h1>
</div>


<form>
    <% var customerShowView = true; %>

    <% include _form.ejs %>
</form>
