
<script src="/javascripts/misc_form.js"></script>


<div class="card border-primary my-2">
    <div class="card-body p-1 m-1">
        <form method="get" action="<%= url %>" id="filterForm" >

            <h4 class="card-title">
                Filtros:

                <a href="#" onclick="submitForm('filterForm')"><span class="oi oi-magnifying-glass h3"></span></a>

                <a href="#" onClick="cleanupForm('filterForm'); return false"><span
                            class="oi oi-circle-x h3"></span></a>
            </h4>

            <label>Contenido:</label>
            <input type="text" name="content" value="<%= locals.searchContent || '' %>"
                   placeholder="texto a buscar"
                   size="30" autocomplete="off"/>

        </form>
    </div>
</div>
