
<script src="/javascripts/misc_form.js"></script>

<form id="myForm" method='post' action='/posts/<%= post.id %>/attachments' enctype='multipart/form-data'>

    <div class="row">
        <h1 class="text-center">
            Añadir Nuevo Adjunto:

            <a href="#" onclick="submitForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

            <a href="/goback"><span class="oi oi-circle-x h3"></a>
        </h1>
    </div>



    <div class="form-row my-3">
        <div class="form-group col">
            <label for="attachment">
                Seleccione la imagen, película o el documento a adjuntar (máximo 20MB):
            </label>
            <input type="file" class="form-control-file" id="attachment" name="attachment">
        </div>
    </div>



    <a href="#" onclick="submitForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

    <a href="/goback"><span class="oi oi-circle-x h3"></a>

</form>

