<div class="row">
    <h1 class="text-center">
        Importar Clientes desde CSV

        <a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>
    </h1>
</div>


<ul>
    <li> El fichero CSV debe tener 14 campos separados por punto y coma.</li>
    <ul>
        <li> Campo 1:  Código de cliente.</li>
        <li> Campo 2:  Nombre del cliente.</li>
        <li> Campo 3:  CIF del cliente.</li>
        <li> Campo 4:  Dirección 1 del cliente.</li>
        <li> Campo 5:  Dirección 2 del cliente.</li>
        <li> Campo 6:  Código postal del cliente.</li>
        <li> Campo 7:  Ciudad del cliente.</li>
        <li> Campo 8:  Teléfono 1 del cliente.</li>
        <li> Campo 9:  Teléfono 2 del cliente.</li>
        <li> Campo 10: Teléfono 3 del cliente.</li>
        <li> Campo 11: Tee.</li>
        <li> Campo 12: Email 1 del cliente.</li>
        <li> Campo 13: Email 2 del cliente.</li>
        <li> Campo 14: Página WEB del cliente.</li>
    </ul>
    <li> La primera línea del fichero CSV se ignora.</li>
</ul>


<form action="/customers/import" method="post" enctype="multipart/form-data">
    <input type="file" name="csv"/>

    <br />
    <br />

    <button type="submit" class="oi oi-thumb-up py-1 my-2 text-primary" onClick="this.disabled = true; this.form.submit();" ></button>

    <a href="/goback"><span class="oi oi-circle-x h3"></a>
</form>

